<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/stylesheet.css" rel="stylesheet" />
</head>
<body>
    <div class="page-content">
        <h1>Weather</h1>
        <div class="margin-top-200 padding-left flex">
            @RenderBody()
        </div>
    </div>
</body>
</html>
