@model List<CityWeather>

@{
    string GetColorByTemperature(int temperature)
    {
        if (temperature < 44)
            return "blue-back";
        else if (temperature > 74)
            return "orange-back";
        else
            return "green-back";
    }
}

@foreach (var item in Model)
{
    <div class="w-30 box @GetColorByTemperature(item.TemperatureFahrenheit) margin-leftcursorpointer">
        <div class="inline-block w-50">
            <h2>@item.CityName</h2>
            <h4 class=" text-dark-grey">@Views__ViewImports.GetTime(item.DateAndTime)</h4>
            <div class="margin-top">
                <a href="weather/@item.CityUniqueCode">Details</a>
            </div>
            
        </div>
        <div class="border-left inline-block padding-left-45">
             <h2 class="text-dark-grey">@item.TemperatureFahrenheit <sup><sup>o</sup>F</sup><h2>
             <br/><br/>
        </div>
    </div>
}
