@model List<CityWeather>

<!DOCTYPE html>
<head>
    <title>Weather</title>
    <meta charset="utf-8"/>
    <link href="~/stylesheet.css" rel="stylesheet" />
</head>
<body>
    @*<partial name="_WeatherListPartial" model="@Model"></partial>*@
    @await Html.PartialAsync("_WeatherListPartial", Model);
</body>