@model List<CityWeather>

@{
    string GetColorByTemperature(int temperature)
    {
        if (temperature < 44)
            return "blue-back";
        else if (temperature > 74)
            return "orange-back";
        else
            return "green-back";
    }
}

<!DOCTYPE html>
<head>
    <title>Weather</title>
    <meta charset="utf-8"/>
    <link href="~/stylesheet.css" rel="stylesheet" />
</head>
<body>
</body>